@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://localhost:7233/home?p1=link1&p2=l1">Link 1</a></p>
    <p><a href="https://localhost:7233/home?p1=link2&p2=l2">Link 2</a></p>
    <p><a href="https://localhost:7233/home?p1=link3&p2=l3">Link 3</a></p>
    <p><a href="https://localhost:7233/home?p1=link4&p2=l4">Link 4</a></p>
    <p><a href="https://localhost:7233/home?p1=link5&p2=l5">Link 5</a></p>
    <p><a href="https://localhost:7233/home?p1=link6&p2=l6">Link 6</a></p>
    <p><a href="https://localhost:7233/home?p1=link7&p2=l7">Link 7</a></p>
    <p><img width="1" height="1" src="https://localhost:7239/home/track?p1=img1&p2=i1" /></p>
</div>
